* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: fit-content;
  overflow-x: hidden;
}

@mixin flexbox($Value1, $Value2, $Value3) {
  display: flex;
  justify-content: $Value1;
  align-items: $Value2;
  flex-direction: $Value3;
}

.sect1 {
  width: 100%;
  background-color: #252989;
  min-height: 610px;
  margin: 0;
  .main {
    max-width: 1750.75px;
    width: 92%;
    margin: 0 auto;
    @include flexbox(start, start, column);
    margin: 0 auto;
    .content {
      padding-top: 100px;
      max-width: 100%;
      margin: 0 auto;
      .hh1 {
        color: aliceblue;
        font-size: 600%;
        font-family: "Bree Serif", serif;
        font-weight: 900;
        font-style: normal;
        margin: 0 auto !important;
        max-width: 1550px;
        text-align: center;
      }
    }
    header {
      width: 100%;
      max-height: 290px;
      position: relative;
      .dropdown {
        position: absolute;
        right: 0;
        top: 22%;
        display: none;
        ul {
          background-color: rgb(230, 78, 197);
          color: aliceblue;
        }
        a {
          background-color: rgb(230, 78, 197);
          color: aliceblue;
          i {
            font-size: 150%;
          }
        }
      }
      .header {
        @include flexbox(space-between, start, row);
        max-width: 100%;
        height: 90px;
        background-color: transparent;
        .social {
          @include flexbox(start, start, row);
          margin: 0;
          gap: 10px;
          padding-top: 30px;
          a {
            @include flexbox(start, start, row);
            text-decoration: none;
            i {
              font-size: 130%;
              color: aliceblue;
              user-select: none;
              cursor: pointer;
            }
          }
        }
        .login {
          margin: 0;
          padding-top: 25px;
          gap: 10px;
          width: fit-content;
          @include flexbox(start, start, row);
          h2 {
            font-size: 110%;
            color: aliceblue;
            font-weight: 300;
            user-select: none;
            cursor: pointer;
            &:hover {
              color: rgb(184, 184, 184);
            }
          }
          i {
            font-size: 150%;
            color: #ff66f5;
            user-select: none;
            cursor: pointer;
          }
        }
      }

      nav {
        @include flexbox(space-between, end, row);
        max-width: 100%;
        background-color: transparent;
        height: 110px;
        margin: 0 auto;
        border-bottom: 1.5px solid rgb(255, 255, 255);
        padding-bottom: 20px;
        a {
          text-decoration: none;
          .hh1 {
            font-family: "Great Vibes", cursive;
            font-weight: 600;
            font-style: normal;
            font-size: 200%;
            color: #ff66f5;
            cursor: pointer;
            user-select: none;
          }
        }
        ul {
          @include flexbox(space-between, center, row);
          gap: 35px;
          i {
            display: none;
          }
          a {
            text-decoration: none;
            cursor: pointer;
            user-select: none;
          }
          li {
            list-style: none;
            font-size: 105%;
            color: aliceblue;
            animation: nav1-2 0.35s;
            &:hover {
              color: rgb(225, 118, 232);
              animation: nav1-1 0.35s;
            }
          }
        }
      }
    }
  }
}

@keyframes nav1-1 {
  from {
    color: aliceblue;
  }
  to {
    color: rgb(225, 118, 232);
  }
}

@keyframes nav1-2 {
  to {
    color: aliceblue;
  }
  from {
    color: rgb(225, 118, 232);
  }
}

@keyframes subBtn1 {
  from {
    background-color: #ff66f5;
  }
  to {
    background-color: aliceblue;
  }
}

@keyframes subBtn1-2 {
  to {
    background-color: #ff66f5;
  }
  from {
    background-color: aliceblue;
  }
}

.sect2 {
  background-color: #0e0a48;
  width: 100%;
  min-height: 1250px;
  padding-top: 120px;
  p {
    width: 92%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 65px;
    color: aliceblue;
    font-size: 120%;
    font-weight: 500;
    text-align: center;
    font-family: "Bree Serif", serif;
    font-style: normal;
  }
  .main {
    display: grid;
    max-width: 1750.75px;
    width: 92%;
    margin: 0 auto;
    grid-template-columns: 0.65fr 0.35fr;
    grid-template-rows: 700px;
    justify-content: center;
    align-items: center;
    border: #ff66f5 1px solid;
    .address {
      display: flex;
      width: 100%;
      height: 100%;
      @include flexbox(center, start, column);
      padding-left: 50px;
      border-left: 1px #ff66f5 solid;
      h2 {
        color: aliceblue;
        font-size: 150%;
        font-family: sans-serif;
        margin-bottom: 12px;
        font-weight: 500;
      }
    }

    .inputs {
      display: grid;
      grid-template-columns: 0.9fr;
      grid-template-rows: 75px 75px 140px 65px;
      margin-left: 25px;
      #sub {
        max-width: 960px;
        width: 960px;
        height: 55px;
        background-color: #ff66f5;
        color: #0e0a48;
        justify-self: end;
        font-size: 120%;
        font-weight: 500;
        font-family: sans-serif;
        border: 1px solid aliceblue;
        cursor: pointer;
        user-select: none;
        animation: subBtn1-2 0.5s;
        &:hover {
          background-color: aliceblue;
          animation: subBtn1 0.5s;
        }
      }
      > div {
        @include flexbox(end, start, row);
        > label {
          @include flexbox(start, start, column);
          color: aliceblue;
          font-family: sans-serif;
          #msg {
            max-width: 960px;
            width: 960px;
            height: 100px;
            font-size: 120%;
            color: aliceblue;
          }
          input {
            width: 480px;
            height: 45px;
            background-color: transparent;
            margin: 0 !important;
            border: 1px solid aliceblue;
            font-size: 120%;
            color: aliceblue;
            padding-inline: 10px;
            &:hover {
              background-color: rgb(47, 43, 82);
            }
          }
        }
      }
    }
  }
}

.sect3 {
  background-color: #0e0a48;
  width: 100%;
  min-height: 900px;
  padding-top: 30px;
  padding-bottom: 35px;
  h1 {
    margin: 0 auto;
    max-width: 1750.75px;
    width: 92%;
    height: 125px;
    text-align: center;
    font-size: 350%;
    color: aliceblue;
    font-family: sans-serif;
    background-color: #3843cd;
    padding-top: 30px;
  }
  .main {
    margin: 0 auto;
    max-width: 1750.75px;
    width: 92%;
    height: fit-content;
    iframe {
      margin: 0 auto;
      max-width: 1750.75px;
      width: 100%;
      height: 800px;
      padding: 0;
    }
  }
}

footer {
  background-color: #3843cd;
  min-height: 460px;
  width: 100%;
  .main {
    width: 92%;
    max-width: 1750.75px;
    margin: 0 auto;
    height: 350px;
    padding-top: 60px;
    border-bottom: 1px solid aliceblue;
    margin-bottom: 20px;
    @include flexbox(space-between, start, row);
    .name {
      @include flexbox(start, start, column);
      width: 295px;
      gap: 15px;
      h1 {
        color: aliceblue;
        font-size: 200%;
        font-family: "Great Vibes", cursive;
        font-weight: 600;
        font-style: normal;
        margin: 0;
        width: 280px;
      }
      p {
        color: aliceblue;
        font-family: "Poppins", sans-serif;
        font-weight: 350;
        font-style: normal;
        width: 92%;
      }
    }
    .mid {
      @include flexbox(space-between, start, row);
      max-width: 510px;
      gap: 105px;
      margin-inline: 35px;
      .menu {
        @include flexbox(start, start, column);
        gap: 5px;
        width: 150px;

        h1 {
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-style: normal;
          color: aliceblue;
          font-size: 145%;
          margin: 0;
          margin-bottom: 15px;
          width: 140px;
        }
        a {
          text-decoration: none;
          color: aliceblue;
          cursor: pointer;
          user-select: none;
          font-family: "Poppins", sans-serif;
          font-weight: 300;
          font-style: normal;
          font-size: 100%;
        }
      }
      .contact {
        @include flexbox(start, start, column);
        h1 {
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-style: normal;
          color: aliceblue;
          font-size: 145%;
          margin: 0;
          margin-bottom: 20px;
        }
        h2 {
          font-family: "Poppins", sans-serif;
          font-weight: 300;
          font-style: normal;
          color: aliceblue;
          font-size: 100%;
          margin-bottom: 5px;
        }
      }
    }
    > a {
      display: none;
      button {
        display: none;
        width: 150px;
        height: 55px;
        background-color: transparent;
        font-size: 110%;
        color: aliceblue;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        border: 1px solid aliceblue;
        animation: footerbtn1-2 0.35s;
        cursor: pointer;
        user-select: none;
        &:hover {
          background-color: aliceblue;
          color: #3843cd;
          animation: footerbtn1-1 0.35s;
        }
      }
    }

    .btn {
      @include flexbox(space-between, start, column);
      height: 170px !important;
      padding: 0;
      width: 150px;
      cursor: default;
      button {
        width: 150px;
        height: 55px;
        background-color: transparent;
        font-size: 110%;
        color: aliceblue;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        border: 1px solid aliceblue;
        animation: footerbtn1-2 0.35s;
        cursor: pointer;
        user-select: none;
        &:hover {
          background-color: aliceblue;
          color: #3843cd;
          animation: footerbtn1-1 0.35s;
        }
      }
      div {
        @include flexbox(space-between, end, row);
        gap: 10px;
        width: 100%;
        height: 45px;
        a {
          font-size: 130%;
          color: aliceblue;
          cursor: pointer;
          user-select: none;
          width: 30px;
          height: 30px;
          i {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
  h1 {
    margin: 0 auto;
    width: 92%;
    margin: 0 auto;
    max-width: 1750.75px;
    color: aliceblue;
    font-size: 100%;
    font-family: sans-serif;
    font-weight: 400;
  }
}

@media only screen and (max-width: 790px) {
  .sect3 {
    height: fit-content;
    > h1 {
      font-size: 280%;
    }
    .main {
      iframe {
        height: 480px;
      }
    }
  }

}

@media only screen and (max-width: 1690px) {
  .sect2 {
    .main {
      display: flex;
      @include flexbox(start, center, column);
      width: 92% !important;
      margin: 0 auto;
      border: none;
      .address {
        width: 100% !important;
        padding: 0 !important;
        @include flexbox(center, center, column);
        margin-top: 50px;
        border: none !important;
      }
      .inputs {
        display: flex;
        @include flexbox(center, center, column);
        width: 100% !important;
        border: none !important;
        gap: 5px !important;
        div {
          @include flexbox(center, start, column);
          gap: 5px !important;
          width: 50% !important;
          #sub {
            height: 50px !important;
            width: 100% !important;
          }
          #name {
            width: 100% !important;
          }
          label {
            width: 100% !important;
            input {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1070px) {
  footer {
    .main {
      @include flexbox(space-between, center, column);
      height: fit-content;
      gap: 35px;
      padding-top: 35px;
      .name {
        @include flexbox(start, center, column);
        h1 {
          text-align: center;
        }
        p {
          text-align: center;
        }
      }
      .mid {
        @include flexbox(space-between, center, column);
        gap: 35px;
        .menu {
          @include flexbox(start, center, column);
          h1 {
            margin-bottom: 10px;
            text-align: center;
          }
        }
        .contact {
          @include flexbox(start, center, column);
          h1 {
            margin-bottom: 10px;
            text-align: center;
          }
        }
      }
      a {
        display: block;
        text-decoration: none;
        button {
          display: block;
        }
      }
      .btn {
        height: 50px;
        padding-bottom: 35px;
        height: 70px !important;

        div {
          @include flexbox(space-evenly, start, row);
        }

        button {
          display: none;
        }
      }
    }
    h1 {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 790px) {
  .sect1 {
    .main {
      .content {
        padding: 0 !important;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        .hh1 {
          text-align: center;
          padding-bottom: 50px;
          padding-top: 50px;
          font-size: 400%;
          margin: 0 auto;
        }
        .hh2 {
          text-align: center;
        }
        p {
          font-size: 100%;
          text-align: center;
          margin-bottom: 30px !important;
        }
        button {
          margin-top: 20px;
        }
      }
    }
    header {
      nav {
        ul {
          display: none !important;
        }
      }
      .dropdown {
        display: block !important;
        ul {
          background-color: rgb(230, 78, 197);
          color: aliceblue;
        }
        a {
          background-color: rgb(230, 78, 197);
          color: aliceblue;
          border: none !important;
          i {
            font-size: 150%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .sect1 {
    height: 300px !important;
    .main {
      header {
        nav {
          .hh1 {
            font-size: 170%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 900;
          }
        }
      }
      .content {
        padding: 0 !important;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        .hh1 {
          text-align: center;
          padding-bottom: 50px;
          padding-top: 55px;
          font-size: 400%;
          margin: 0 auto !important;
        }
        .hh2 {
          text-align: center;
          font-size: 450%;
          width: 300px;
          margin-top: 20px;
        }
        p {
          font-size: 100%;
          text-align: center;
          margin-bottom: 30px !important;
        }
        button {
          margin-top: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 390px) {
  .sect1 {
    .main {
      header {
        nav {
          .hh1 {
            font-size: 140% !important;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 900;
            font-size: 170%;
          }
        }
      }
    }
  }
}

@keyframes footerbtn1-1 {
  from {
    background-color: transparent;
    color: aliceblue;
  }
  to {
    background-color: aliceblue;
    color: #3843cd;
  }
}

@keyframes footerbtn1-2 {
  to {
    background-color: transparent;
    color: aliceblue;
  }
  from {
    background-color: aliceblue;
    color: #3843cd;
  }
}

@media only screen and (max-width: 790px) {
  .sect2 {
    .main {
      display: flex;
      @include flexbox(start, center, column);
      width: 92% !important;
      margin: 0 auto;
      border: none;
      .address {
        width: 100% !important;
        padding: 0 !important;
        @include flexbox(center, center, column);
        margin-top: 50px;
        border: none !important;
        h2 {
          font-size: 90%;
        }
      }
      .inputs {
        display: flex;
        @include flexbox(center, center, column);
        width: 100% !important;
        border: none !important;
        gap: 5px !important;
        div {
          @include flexbox(center, start, column);
          gap: 5px !important;
          width: 50% !important;
          #sub {
            height: 50px !important;
            width: 100% !important;
          }
          #name {
            width: 100% !important;
          }
          label {
            width: 100% !important;
            input {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}
