* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 500000px;
  overflow-x: hidden;
}

@mixin flexbox($Value1, $Value2, $Value3) {
  display: flex;
  justify-content: $Value1;
  align-items: $Value2;
  flex-direction: $Value3;
}
.sect1 {
  width: 100%;
  background: url("./Images/main.jpg") center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 1110px;
  margin: 0;
  .main {
    max-width: 1750.75px;
    margin: 0 auto;
    @include flexbox(start, start, column);
    margin: 0 auto;
    .content {
      padding-top: 120px;
      max-width: 100%;
      .hh1 {
        color: aliceblue;
        font-size: 595%;
        font-family: "Bree Serif", serif;
        font-weight: 900;
        font-style: normal;
        margin: 0;
        max-width: 850px;
      }
      .hh2 {
        color: aliceblue;
        font-size: 595%;
        font-family: "Bree Serif", serif;
        font-weight: 900;
        font-style: normal;
        margin: 0;
        max-width: 850px;
      }
      p {
        margin: 0;
        color: aliceblue;
        padding-top: 35px;
        max-width: 600px;
        font-size: 135%;
        font-family: sans-serif;
        margin-bottom: 50px;
      }
      button {
        height: 55px;
        width: 148px;
        border: solid 1px aliceblue;
        color: rgb(36, 36, 36);
        font-size: 105%;
        font-family: sans-serif;
        background-color: #ff66f5;
        animation: btn1-2 0.5s;
        &:hover {
          background-color: aliceblue;
          animation: btn1-1 0.5s;
        }
      }
    }
    header {
      width: 100%;
      max-height: 290px;
      position: relative;
      .dropdown {
        position: absolute;
        right: 0;
        top: 22%;
        display: none;
        ul {
          background-color: rgb(230, 78, 197);
          color: aliceblue;
        }
        a {
          background-color: rgb(230, 78, 197);
          color: aliceblue;
          i {
            font-size: 150%;
          }
        }
      }
      .header {
        @include flexbox(space-between, start, row);
        max-width: 100%;
        height: 90px;
        background-color: transparent;
        .social {
          @include flexbox(start, start, row);
          margin: 0;
          gap: 10px;
          padding-top: 30px;
          a {
            @include flexbox(start, start, row);
            text-decoration: none;
            i {
              font-size: 130%;
              color: aliceblue;
              user-select: none;
              cursor: pointer;
            }
          }
        }
        .login {
          margin: 0;
          padding-top: 25px;
          gap: 10px;
          width: fit-content;
          @include flexbox(start, start, row);
          h2 {
            font-size: 110%;
            color: aliceblue;
            font-weight: 300;
            user-select: none;
            cursor: pointer;
            &:hover {
              color: rgb(184, 184, 184);
            }
          }
          i {
            font-size: 150%;
            color: #ff66f5;
            user-select: none;
            cursor: pointer;
          }
        }
      }

      nav {
        @include flexbox(space-between, end, row);
        max-width: 100%;
        background-color: transparent;
        height: 110px;
        margin: 0 auto;
        border-bottom: 1.5px solid rgb(255, 255, 255);
        padding-bottom: 20px;

        .hh1 {
          font-family: "Great Vibes", cursive;
          font-weight: 600;
          font-style: normal;
          font-size: 200%;
          color: #ff66f5;
          cursor: pointer;
          user-select: none;
        }
        ul {
          @include flexbox(space-between, center, row);
          gap: 35px;
          cursor: pointer;
          user-select: none;
          i {
            display: none;
          }
          li {
            list-style: none;
            font-size: 105%;
            color: aliceblue;
            animation: nav1-2 0.35s;
            &:hover {
              color: rgb(225, 118, 232);
              animation: nav1-1 0.35s;
            }
          }
        }
      }
    }
  }
}

@keyframes nav1-1 {
  from {
    color: aliceblue;
  }
  to {
    color: rgb(225, 118, 232);
  }
}

@keyframes nav1-2 {
  to {
    color: aliceblue;
  }
  from {
    color: rgb(225, 118, 232);
  }
}

@keyframes btn1-1 {
  from {
    background-color: #ff66f5;
  }
  to {
    background-color: aliceblue;
  }
}

@keyframes btn1-2 {
  to {
    background-color: #ff66f5;
  }
  from {
    background-color: aliceblue;
  }
}

.sect2 {
  width: 100%;
  min-height: 1620px;
  background-color: #3843cd;
  margin: 0 !important;
  padding-top: 80px;
  .main {
    max-width: 1750.75px;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    .imgs {
      justify-content: space-between;
      display: flex;
      padding-top: 35px;
      margin-bottom: 55px;
      flex-wrap: wrap;
      a {
        text-decoration: none;
        color: aliceblue;
        margin-bottom: 15px;
        &:hover img {
          filter: grayscale(105%);
          animation: sect2Imgs1 0.5s;
        }
        h1 {
          font-size: 220%;
          font-family: "Bree Serif", serif;
          font-weight: 900;
          font-style: normal;
          padding-top: 15px;
        }
        h2 {
          font-size: 140%;
          font-family: "Manrope", sans-serif;
          font-optical-sizing: auto;
          font-weight: 500;
          font-style: normal;
        }
      }

      img {
        width: 418px;
        height: 570px;
        animation: sect2Imgs1-2 0.5s;
      }
    }
    .hh1 {
      color: aliceblue;
      font-size: 200%;
      font-family: sans-serif;
      font-weight: 750;
      border-bottom: solid 1px aliceblue;
      padding-bottom: 25px;
    }

    button {
      position: absolute;
      right: 50%;
      transform: translate(50%);
      width: 225px;
      height: 62px;
      background-color: #ff66f5;
      color: rgb(36, 36, 36);
      font-size: 120%;
      border: 1.5px solid aliceblue;
      user-select: none;
      cursor: pointer;
      animation: sect2Btn1-2 0.5s;
      &:hover {
        background-color: aliceblue;
        animation: sect2Btn1 0.5s;
      }
    }

    .div2 {
      width: 100%;
      padding-top: 200px;
      height: fit-content;
      h2 {
        color: aliceblue;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      .trailers {
        @include flexbox(space-around, center, row);
        padding-top: 100px;
        flex-wrap: wrap;
        > div {
          @include flexbox(start, center, column);
          gap: 20px;
          margin: 25px;
          .desc {
            font-size: 100%;
            width: 85px;
            height: 42px;
            background-color: #0e0a48;
            border-radius: 12px;
            color: #ff66f5;
          }
          > h1 {
            font-family: "Goldman", sans-serif;
            font-weight: 600;
            font-style: normal;
            color: aliceblue;
          }
          > div {
            > a {
              text-decoration: none;
              i {
                font-size: 220%;
                color: aliceblue;
              }
              p {
                margin: 0;
                font-size: 130%;
                color: aliceblue;
              }
            }
            @include flexbox(center, center, row);
            gap: 20px;
          }
        }
      }
    }
  }
}

.sect3 {
  max-width: 100%;
  height: fit-content;
  background-color: #0e0a48;
  padding-top: 150px;
  .main {
    max-width: 1750.75px;
    height: fit-content;
    margin: 0 auto;
    @include flexbox(start, center, column);
    > h1 {
      color: aliceblue;
      font-size: 200%;
      font-weight: 800;
      font-family: sans-serif;
    }
    .instruct {
      width: 100%;
      height: fit-content;
      @include flexbox(space-between, start, row);
      flex-wrap: wrap;
      padding-top: 110px;
      .instruct2 {
        @include flexbox(start, center, column);
        gap: 15px;
        width: 270px;
        margin: 10px;
        > div {
          width: 110px;
          height: 1px;
          background-color: #ff66f5;
          position: relative;
          &::after {
            content: "";
            width: 25px;
            height: 25px;
            background-color: #ff66f5;
            border-radius: 50%;
            position: absolute;
            top: -12px;
            left: 50%;
            transform: translate(-50%);
          }
        }

        > h1 {
          padding-bottom: 20px;
          color: #ff66f5;
          font-family: "Luckiest Guy", cursive;
          font-weight: 900;
          font-style: normal;
        }

        .hh1 {
          position: relative;
          &::after {
            content: "3";
            position: absolute;
            color: #ff66f5;
            font-family: "Luckiest Guy", cursive;
            font-weight: 900;
            font-style: normal;
            top: -2px;
            font-size: 120%;
          }
        }

        .hh2 {
          position: relative;
          &::after {
            content: "4";
            position: absolute;
            color: #ff66f5;
            font-family: "Luckiest Guy", cursive;
            font-weight: 900;
            font-style: normal;
            top: -2px;
            font-size: 120%;
          }
        }

        h2 {
          font-size: 150%;
          color: aliceblue;
          font-family: "Bevan", serif;
          font-weight: 700;
          font-style: normal;
        }

        p {
          color: aliceblue;
          font-size: 115%;
          font-weight: 600;
          text-align: center;
        }

        img {
          padding: 55px 0;
        }
      }
    }
  }
}

.sect4 {
  width: 100%;
  background-color: #0e0a48;
  height: 2000px;
  padding-top: 130px;
  .main {
    max-width: 1750.75px;
    height: 1000px;
    margin: 0 auto;
    @include flexbox(start, center, column);
    .prices {
      background-color: #ff66f5;
      width: 910px;
      height: 570px;
      @include flexbox(start, center, column);
      padding-top: 40px;
      border-bottom-style: dashed;
      gap: 35px;
      > h1 {
        font-family: sans-serif;
        color: #0e0a48;
        font-size: 180%;
        font-weight: 600;
      }
      .bar {
        width: 88%;
        height: 180px;
        border-top: 2.5px solid #0E0A48;
        border-bottom: 2.5px solid #0E0A48;
        border-top-style: dashed;
        border-bottom-style: dashed;

      }
    }
  }
}

@keyframes sect2Btn1 {
  from {
    background-color: #ff66f5;
  }
  to {
    background-color: aliceblue;
  }
}

@keyframes sect2Btn1-2 {
  to {
    background-color: #ff66f5;
  }
  from {
    background-color: aliceblue;
  }
}

@keyframes sect2Imgs1 {
  from {
    filter: grayscale(0);
  }
  to {
    filter: grayscale(105%);
  }
}

@keyframes sect2Imgs1-2 {
  to {
    filter: grayscale(0);
  }
  from {
    filter: grayscale(105%);
  }
}

@media only screen and (max-width: 800px) {
  header {
    nav {
      ul {
        display: none !important;
      }
    }
    .dropdown {
      display: block !important;
      ul {
        background-color: rgb(230, 78, 197);
        color: aliceblue;
      }
      a {
        background-color: rgb(230, 78, 197);
        color: aliceblue;
        border: none !important;
        i {
          font-size: 150%;
        }
      }
    }
  }
}

@media only screen and (max-width: 710px) {
  .main {
    .content {
      padding: 0 !important;
      align-items: center;
      display: flex;
      flex-direction: column;

      .hh1 {
        text-align: center;
        padding-bottom: 35px;
      }
      .hh2 {
        text-align: center;
      }
      p {
        font-size: 100%;
        text-align: center;
        margin-bottom: 30px !important;
      }
    }
  }
}
